{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <script src="{% static 'network/script.js' %}"></script>
    

    {% csrf_token %}
    <div class="spacing">
        <!-- Posts Starts -->
        {% for post in page_obj %}
        <div class="card">
            <div class="card-body" id="post-{{post.pk}}">
                <!-- normal -->
                <a class="post_user" href="{% url 'profile' post.user %}"><h5 class="card-title">{{post.user}}</h5></a>
                <h6 class="card-subtitle mb-2 text-muted">{{ post.timestamp }}</h6>
                <p id="content-{{post.pk}}"class="card-text">{{ post.content }}</p>
                
                <!-- likes -->
                {% if user in post.likes.all %}
                    <input id="like-{{post.pk}}" type="image" data-postid={{post.pk}} data-status="liked" src="{% static 'network/img/liked.png' %}" class="like btn">
                {% else %}
                    <input id="like-{{post.pk}}" type="image" data-postid={{post.pk}} data-status="unliked" src="{% static 'network/img/unliked.png' %}" class="like btn">
                {% endif %}
                </input>

                <a href="#" id="nooflikes-{{post.pk}}" class="card-link">
                    {{ post.likes.all.count }} Likes &nbsp
                </a>

                <!-- edit button -->
                {% if user.is_authenticated %}
                    {% if user == post.user %}
                        <btn id="{{post.pk}}" class="btn btn-primary edit">Edit</btn>
                    {% endif %}
                {% endif %}
            </div>
            <!-- edit -->
            {% if user.is_authenticated %}
                    {% if user == post.user %}
                        <div class="card-body" id="edit-{{post.pk}}" style="display: none;">
                        <!-- <div class="card-body" id="edit-{{post.pk}}"> -->
                            <!-- normal -->
                            <a class="post_user" href="{% url 'profile' post.user %}"><h5 class="card-title">{{post.user}}</h5></a>
                            <h6 class="card-subtitle mb-2 text-muted">{{ post.timestamp }}</h6>
                            <textarea id="textarea-{{post.pk}}"class="form-control" rows="4">{{ post.content }}</textarea>
                            <p></p>
                            <btn id="{{post.pk}}" class="btn btn-danger edit">Cancel</btn>
                            <btn id="{{post.pk}}" class="btn btn-success edit">Save Changes</btn>
                                
                        </div>
                {% endif %}
            {% endif %}
        </div>
        <br>
        {% endfor %}
        <!-- Posts Ends -->


        <!-- Pagination Starts -->
        <nav id="pagination">
            <ul class="pagination">
                
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}

                {% for page in total_pages %}
                    {% if page_obj.number == page %}
                        <li class="page-item active disabled"><a class="page-link" href="#">{{ page }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{page}}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
                
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        <!-- Pagination Ends -->
    </div>

{% endblock %}
