.spacing{
    margin: 5vh 15vw;
}

.card{
    width: 40rem;
}

.post_user{
    text-decoration: none;
    color: #000;
}
.post_user:hover{
    text-decoration: none;
    color: rgb(73, 73, 73);
    
}

.spacing_newpost{
    
    margin: 5rem 20rem;
    margin-right: 50rem;
    
}
.button_spacing{
    
    width: 20%;
    
}
#pagination{
    text-align: center;
    align-items: center;
    margin: 3vh 12vw;
}

#edit{
    outline: none;
    box-shadow: none;
    padding-left: 20px;
    margin: 0;

}

/* popup */


